<div class="container order-done">

<div class="thanks">
	<h1 class="text-center">ご注文ありがとうございました！</h1>
	<p class="text-center">注文情報及び製作状況については<%= link_to "マイページ", customer_path %>の注文詳細よりご確認いただけます。</p>
</div>




</div>