<h1>orders#show</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>注文日</th>
      <td></td>
    </tr>
    <tr>
      <th>配送先</th>
        <td></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td></td>
    </tr>
  </thead>
</table>