// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.admin-item-index{
	font-family: YuGothic;
	.flush {
		color: #436676;
		font-size: 20px;
	}
	h1 {
		text-align: center;
	}
	.row1 {
		float: right;
		margin-bottom: 20px;
		.btn {
		font-weight: bolder;
		zoom: 150%;
		font-family: tomato;
		}
	}
	.row2 {
		margin-top: 50px;
	}
}

.admin-item-show{
	font-family: YuGothic;
	.flash {
		padding-left: 250px;
		margin-bottom: 20px;
		color: #436676;
		font-size: 20px;
	}
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}
	.row {
		text-align: center;
		padding-left: 150px;
	}
	.col-5 {
		text-align: right;

	}
	.col-7 {
		padding: 0;
		text-align: left;
		float: right;
		font-size: 20px;
	}
	.edit-btn {
		margin: 0 0 0 auto;
		zoom: 110%;
		padding-right: 150px;
	}
}

.admin-item-edit {
	font-family: YuGothic;
	.error-box{
		padding-left: 300px;
	}
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}
	.row {
		width: 100%;
		text-align: center;
	}
	.edit_item {
		width: 100%;
	}
	.col-5 {
		text-align: right;
		float: left;
		padding-left: 230px;
	}
	.col-7 {
		float: right;
		padding-left: 100px;
		padding-top: 10px;
		text-align: left;
		font-size: 20px;
	}
	.edit-btn{
		padding-top: 50px;
		text-align: center;
		zoom: 110%;
	}
}

.admin-item-new {
	font-family: YuGothic;
	.row1{
		text-align: center;
		li{
			list-style: none;
			padding-left: 200px;
			text-align: left;
		}
	}

	h1 {
		text-align: center;
		margin-bottom: 30px;
	}
	.row2 {
		width: 100%;
		text-align: center;
	}
	.new_item {
		width: 100%;
	}
	.col-5 {
		text-align: right;
		float: left;
		padding-left: 230px;
	}
	.col-7 {
		float: right;
		padding-left: 100px;
		padding-top: 10px;
		text-align: left;
		font-size: 20px;
	}
	.submit{
		padding-top: 50px;
		text-align: center;
		zoom: 110%;
	}
}