/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//変数の定義
$gray:#595757;
$skyblue:#9BB5C9;
$blue:#3D687C;
$gothic:'arial narrow';
$cake:'sans-serif';
@import "bootstrap";

.searchbox{
	margin:0 0 0 auto;
}

.jumbotron{
	height: 400px;
	background-image: url(1.jpeg);
	background-position: bottom;
	background-size: cover;
	width: 100%;
	border-radius: 10px;
	font-family: $cake;
	// margin: 0 auto;

	a{
		text-decoration: none;
	}

	.title-cover{
		margin: 0 auto;
		background: rgba(255,255,255, 0.6);
		text-align: center;
	}
}




// Admin ジャンル一覧画面
.admin-genre-index{
	font-family:$gothic;

	.flash{
		text-align: center;
		color:#2e8b57;
	}

	.add{
		text-align: center;
		margin:0 auto;

		.genre-radio{
			margin-top: 10px;
		}
	}

	h1{
		margin:0 auto;
		margin-bottom: 20px;
	}

	.row{
		margin:0 auto;
	}


	.table{
		text-align: center;
		tr{
			padding-top: 5px;
			td{
			padding-bottom: 0px;
			}
		}
	}

	.errors{
		text-align: center;
		color:#b22222;
		ul{
		list-style: none;

		}

	}

}

.customers-show{
	font-family:"sans-serif";
	.customer-status{
		margin-left: 10px;
		display: inline-block;
	}


}

// 商品一覧画面

.item-index{
	font-family:$cake;
// 見出し(商品一覧、カテゴリ名)
	h1{
		padding-bottom: 10px;
		border-bottom: double ;
		margin-bottom: 20px;
		 color:$gray;
	}
// サイドバー(ジャンル検索)
	.col-2{
		padding-top: 12px;
		.table-borderless{
			text-align: center;
			padding: 10px;


				th{
					color:$gray;
					font-size: 25px;
					padding: 5px;
					border-bottom:double;
					margin-bottom: 20px;
				}
				td{
					font-size: 20px;
					height: 50px;
				}
// ジャンル　ホバーアクション
				a {
					font-size: 20px;
				  position: relative;
				  display: inline-block;
				  text-decoration: none;
				  color:$gray;
				}
				a::after {
				  position: absolute;
				  bottom: -4px;
				  left: 0;
				  content: '';
				  width: 100%;
				  height: 2px;
				  background: #e9967a;
				  transform: scale(0, 1);
				  transform-origin: right top;
				  transition: transform .3s;
				}
				a:hover::after {
				  transform-origin: left top;
				  transform: scale(1, 1);
				}

		}
	}

// 商品一覧画像
	.col-xs-3{
		padding: 8px;
// 商品名
		.item-name{
			h2{
				font-size: 20px;
			}
// 値段
		.item-price{
			font-size: 20px;
			padding: 10px 0;
			border-top: dotted 0.5px;
			border-bottom: dotted 0.5px;
		}
}
// 商品画像
		.item-image{
			margin-bottom: 10px;
			transition:.4s;
// 商品画像　ホバー
			&:hover{
				transition:.4s;
				opacity: 0.7;
			}
		}
	}

}

// ページネーション
.paginate{
	// font-family: 'Georgia';
	color: $gray;
	font-family:Gungsuh;
	font-size: 20px;
	// letter-spacing:5px;
	padding-left:430px;
	text-align: center;
	margin: 0 auto;
	a{
		color:$skyblue;
		text-decoration: none;
		&:hover{
			color:$blue;
		}
	}
}


