/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//変数の定義
$gray:#595757;
$skyblue:#9BB5C9;
$blue:#3D687C;
$brown:#5A3E38;
$opera:#9e7360;
$beige:#c3b39c;
$urban:#856e75;
$gray:#7f6c68;
$pink:#F9685D;
$darkbrown:#261C1B;
$gothic:'arial narrow';
$cake:'sans-serif';
$tomato:Tahoma;
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap";

// ヘッダー

// .container{
// 	width: 1500px;
// }

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}





@mixin genre-bar{

		padding-top: 12px;
		.table-borderless{
			text-align: center;
			padding: 10px;


				th{
					color:$gray;
					font-size: 25px;
					padding: 5px;
					// border-bottom:double;
					margin-bottom: 20px;
				}
				td{
					font-size: 20px;
					height: 50px;
				}
// ジャンル　ホバーアクション
				a {
					font-size: 20px;
				  position: relative;
				  display: inline-block;
				  text-decoration: none;
				  color:$gray;
				}
				a::after {
				  position: absolute;
				  bottom: -4px;
				  left: 0;
				  content: '';
				  width: 100%;
				  height: 2px;
				  background: #e9967a;
				  transform: scale(0, 1);
				  transform-origin: right top;
				  transition: transform .3s;
				}
				a:hover::after {
				  transform-origin: left top;
				  transform: scale(1, 1);
				}

		}

}

header{


		ul{
			margin: 0;
			padding:0;
			.list-inline-item{
				margin: 0 25px;
				a{
					color:$gray;
					text-decoration: none;
					transition:.4s;

					&:hover{
						color:$beige;
						transition:.4s;
					}
				}
			}

			.welcome{
				margin-bottom: 50px;
				margin-bottom: 10px;
				font-family:fantasy;
				color:#544946;
				a{
				color: $pink;
				&:hover{
					color: #B2362D;
				}
				}
			}
		}

}

// 検索ボックス
.searchbox{

	.searching{
		text-align: center;
		margin: 0 auto;
		padding-right: 60px;

		button{
			height: 100px;
		}
	}

	input{
		border:1px solid;
		border-color: #856e75;
		margin-right: 5px;
		border-radius: 6px;
		background: rgba(255,255,255, 0.6);
		// background: rgba(155,181,201, 0.6);
		position:relative;
	}

	.search-btn{
		border:1px solid;
		border-color: #856e75;
		background-color: white;
		background: rgba(255,255,255, 0.6);
		position:absolute;
		color: $gray;
		&:hover{
			background-color:$urban;
			color: white;
			border-color:white;
		}
	}

}

.jumbotron{
	height: 350px;
	background-image: url(4.jpeg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	border-radius: 5px;
	font-family: $cake;
	padding-top: 90px;
	position:relative;
	// margin: 0 auto;
	.logo{
		position: fixed;
		position:relative;
		img{
			position:absolute;
			top:-100px;
			left:205px;
		}
	}
.owner{
	position:absolute;
	color: white;
	top:0px;
	right: 10px;
	font-size:25px;
	background: rgba(86,110,92, 0.5);
	margin-top: 5px;
	border-radius: 3px;
	padding: 5px;
	transition:.4s;
	&:hover{
		width: 220px;
		background: rgba(86,110,92, 0.8);
		transition:.4s;
	}
	a{
		color: white;
		margin-left: 5px;
		&:hover{
			// color:#CA574C;
			color: white;
			border-color: #CA574C;
			transition:.4s;
		}
	}
}

.logo-box{
	// position:relative;
	// width: 700;
	height: 300px;
}

	img{
		position:fixed;
		top:0px;
		left:580px;
		height: 100px;


	}

	a{
		text-decoration: none;
		color:white;
	}

	.title-cover{
		width:700px;
		height: 200px;
		padding: 30px;
		border-radius: 10px;
		margin: 0 auto;
		background: rgba(255,255,255, 0.6);
		text-align: center;

		.admin-links{
			font-family: $tomato;
			padding-top: 30px;
			a{
			color:#785046;
				&:hover{
					color:#F9685D;
				}
			}
		}

	}
}




// Admin ジャンル一覧画面
.admin-genre-index{
	font-family:$gothic;

	.flash{
		text-align: center;
		color:#2e8b57;
	}

	.add{
		text-align: center;
		margin:0 auto;

		.genre-radio{
			margin-top: 10px;
		}
	}

	h1{
		margin:0 auto;
		margin-bottom: 20px;
	}

	.row{
		margin:0 auto;
	}


	.table{
		text-align: center;
		tr{
			padding-top: 5px;
			td{
			padding-bottom: 0px;
			}
		}
	}

	.errors{
		text-align: center;
		color:#b22222;
		ul{
		list-style: none;

		}

	}

}

.customers-show{
	font-family:"sans-serif";
	.customer-status{
		margin-left: 10px;
		display: inline-block;
	}


}

// 商品一覧画面
.item-index{
	font-family:$cake;
// 見出し(商品一覧、カテゴリ名)

.search-items{
	text-align: center;
}

	h1{
		padding-bottom: 10px;
		border-bottom: double ;
		margin-bottom: 20px;
		 color:$gray;
	}
// サイドバー(ジャンル検索)
	.col-2{
		@include genre-bar;
		padding-top: 0;
		padding-left: 40px;
	}

// 商品一覧画像
	.col-4{
		padding:0 5px 8px 5px;
// 商品名
		.item-name{
			h2{
				font-size: 20px;
			}
// 値段
		.item-price{
			font-size: 20px;
			padding: 10px 0;
			border-top: dotted 0.5px;
			border-bottom: dotted 0.5px;
			// border-width
		}
}
// 商品画像
		.item-image{
			margin-bottom: 10px;
			transition:.4s;
// 商品画像　ホバー
			&:hover{
				transition:.4s;
				opacity: 0.7;
			}
		}
	}

}

// 商品詳細ページ
.item-show{
	font-family:$cake;
	.select-item{
		// background-color: gray;
		display: flex;
			.select-q{
				margin-right: 10px;
				display: flex;
				}
	}
	h1{
		padding-bottom: 10px;
		border-bottom: double ;
		margin-bottom: 20px;
		 color:$gray;
	}
	.col-2{
		@include genre-bar;
		padding-top: 0;
		padding-left: 40px;
	}

	.col-5{
		text-align: center;
		// background-color: gray;
	}

	.itemimage{
		margin: 0;
	}

	.col-7{
			// background-color: gray;
		.item-info{
			margin-bottom: 15px;
			border-bottom: 1px dotted;
			border-color:$urban;
			padding-bottom: 10px;
			// background-color: gray;
			h2{
				margin-bottom: 20px;
				display: inline-block;
			}
		}
		.back-index{
			font-family:$tomato;
			padding-top: 15px;
			a{
				color:$brown;
				text-decoration: none;
				&:hover{
					color:$opera;
				}
			}
		}
	}
}
// 商品詳細ページ　終


// カートアイテム
.cart-items{
	font-family: $cake;
	.table-bordered{
		font-family: $tomato;
	}

	h1{
		color:$gray;
	}

	p{
		font-size: 20px;
	}

	.empty{
		padding-left: 0;
		font-family: $tomato;
	}
	// .total{
	// 	margin-left: 200px;
	// }
	.select{
		font-family: $tomato;
		text-align: center;
		padding-left: 260px;
		padding-top:20px;
	}

	.total{
		margin-top: 20px;
		.total-price{
			margin-left: 570px;
		}
	}
}
// カートアイテム終

// ページネーション
.paginate{
	// font-family: 'Georgia';
	color: $gray;
	font-family:Gungsuh;
	font-size: 20px;
	// letter-spacing:5px;
	padding-left:430px;
	text-align: center;
	margin: 0 auto;
	a{
		color:$skyblue;
		text-decoration: none;
		&:hover{
			color:$blue;
		}
	}
}






@import "jquery-ui/autocomplete";
@import "jquery-ui/theme";
@import "jquery-ui/menu";